Hannah Mattes Exercise 9

#### Section 1. stepwise creation of SQL queries

In [3]:
# query 1: select all counties in Alaska
column = "STATEFP"
value = '02'
query_1 = '"{0}" = \'{1}\''.format(column, value)
print(query_1)

"STATEFP" = '02'

In [2]:
# query 2: select all counties in Oregon, Montana, and Washington
column = "STATEFP"
value = ['41', '30', '53']
query_2 = '"STATEFP" = \'41\' OR "STATEFP" = \'30\' OR "STATEFP" = \'53\''.format(column, value)
print(query_2)

"STATEFP" = '41' OR "STATEFP" = '30' OR "STATEFP" = '53'

#### Section 2. select counties in 3 states