Hannah Mattes Exercise 9

#### Section 1. stepwise creation of SQL queries

In [3]:
# query 1: select all counties in Alaska
column = "STATEFP"
value = '02'
query_1 = '"{0}" = \'{1}\''.format(column, value)
print(query_1)

"STATEFP" = '02'

In [11]:
# query 2: select all counties in Oregon, Montana, and Washington
column = "STATEFP"
value = ['41', '30', '53']
query_2 = '"{0}" = \'{1}\' OR "{0}" = \'{2}\' OR "{0}" = \'{3}\''.format(column, value[0], value[1], value[2])
print(query_2)

"STATEFP" = '41' OR "STATEFP" = '30' OR "STATEFP" = '53'

In [12]:
# query 3: select all cities with a population greater than or equal to 500,000
column = "pop"
value = '500000'
query_3 = '"{0}" >= \'{1}\''.format(column, value)
print(query_3)

"pop" >= '500000'

In [13]:
# query 4: select all cities with the name Albany
column = "nam"
value = "Albany"
query_4 = '"{0}" = "{1}"'.format(column, value)
print(query_4)

"nam" = "Albany"

In [15]:
# query 5: select all cities with a population between 10,000 and 100,000
column = "pop"
value = ['10000', '100000']
query_5 = '"{0}" > \'{1}\' AND "{0}" < \'{2}\''.format(column, value[0], value[1])
print(query_5)

"pop" > '10000' AND "pop" < '100000'

#### Section 2. select counties in 3 states

In [23]:
import arcpy
from arcpy import env
env.workspace = "C:/Users/hmatt/Desktop/GIS5653/class_assignments/Exercise_9"
# ask the user for three different states by providing their STATEFP identifiers
states_list = [ item for item in input("Please provide three different states using their STATEFP identifiers and separate with single space: ").split()]
print(states_list)  # verify that line 3 worked

# define fields
column = "STATEFP"
value = states_list[0], states_list[1], states_list[2]

county_query = '"{0}" = \'{1}\' OR "{0}" = \'{2}\' OR "{0}" = \'{3}\''.format(column, value[0], value[1], value[2])  # create string literal
print(county_query)  # view results

# double-check with arcpy function
arcpy.analysis.Select("tl_2019_us_county", "selected_counties", '"STATEFP" = \'04\' OR "STATEFP" = \'05\' OR "STATEFP" = \'06\'')

Please provide three different states using their STATEFP identifiers and separate with single space: 04 05 06
['04', '05', '06']
"STATEFP" = '04' OR "STATEFP" = '05' OR "STATEFP" = '06'